@use "../config/mixins"

.header
    @include mixins.containerSizeAndPadding()
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 5.6vw
    height: 70px
    position: relative
    z-index: 1

    @media (max-width:768px)
        flex-direction: column
        padding: 0

    &__logo
        width: 150px

    &__list

        &__item
            display: inline-block
            margin-left: 8px
